<table class="movie-listing-table">
  <tr>
    <td class="info-cell">
      <h1><%= link_to movie.title, movie_path(movie) %></h1>
      <h4>Director: <%= movie.director %></h4>
      <p>Release Date: <%= formatted_date(movie.release_date) %></p>
      <p>Runtime: <%= movie.runtime_in_minutes %> minutes</p>
      <p>Synopsis: <%= movie.description %></p>
      <% if movie.reviews.any? %>
        <p>Average Rating: <%= movie.review_average %>/10</p>
      <% else %>
        <p></p>
      <% end %> 
    </td>
    <td class="poster-cell">
      <p><%= image_tag(movie.image_url(:resized).to_s) %></p>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to 'Edit', edit_movie_path(movie) %> |
      <%= link_to 'Destroy', movie_path(movie),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
</table>