<h1>Movie Listing</h1>
<div id="new-movie" class="waves-effect waves-light btn">
<%= link_to '<i class="material-icons right">movie</i>New Movie'.html_safe, new_movie_path %>
</div>

<!--   <nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav> -->

<%= form_tag movies_path, method: :get, class: "col s12" do %>
  <div class="row">
    <div class="input-field col s6">
      <%= text_field_tag :title, nil, class: "validate" %>
      <%= label_tag :title %>
    </div>
    <div class="input-field col s6">
      <%= text_field_tag :director, nil, class: "validate" %>
      <%= label_tag :director %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <% disabled_option = "Duration" %>
      <%= select_tag(:runtime_in_minutes, options_for_select([disabled_option, "Under 90 minutes", "Between 90 and 120 minutes", "Over 120 minutes"], disabled: disabled_option, selected: disabled_option), class: "duration-dropdown") %>
    </div>
    <div class="col s6">
      <%= submit_tag 'Search', name: nil, class: "waves-effect waves-light btn" %>
    </div>
  </div>
<% end %>

<% if @searched_movies %>
  <% @searched_movies.each do |searched_movie| %>
    <% unless searched_movie.nil? %>
      <ul>
        <li><%= link_to searched_movie.title, movie_path(searched_movie) %></li>
      </ul>
    <% end %>
  <% end %>
<% end %>

<% @movies.each do |movie| %>
  <%= render partial: "movie", locals: {movie: movie} %>
<% end %>

<%= link_to 'Home', welcome_index_path %>