<p>
  <h1><%= @movie.title %></h1>
</p>
 
<p>
  <strong>Director:</strong>
  <%= @movie.director %>
</p>

<p>
  <strong>Runtime:</strong>
  <%= @movie.runtime_in_minutes %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Poster:</strong>
  <%= @movie.poster_image_url %>
</p>

<p>
  <strong>Release Date:</strong>
  <%= @movie.release_date %>
</p>

<hr>

<h1>Reviews:</h1>
<% if current_user %>
  <% @movie.reviews.each do |review| %>
    <%= review.text %>
    <%= review.rating_out_of_ten %>/10
    <small><%= review.user.email %></small><br>
  <% end %>
  <p><%= link_to "Write a review!", new_movie_review_path(@movie) %></p>
<% else %>
  <p>Please <%= link_to "Log In", new_session_path %> to see reviews and add your own.</p>
<% end %>



<%= link_to 'Back to Movie Listing', movies_path %>